@page "/Tim3D"

<PageTitle>Tim 3D</PageTitle>

<h1 style="text-align:center;">Rotate 3D</h1>

<br>
<br>
<br>




<div id="cube" style="width: 4em; height: 8em; margin: auto;">
    <div style="transform: translate3d(0em, 0em, 4em)">
        <div>
            <img id="pageimage" height=auto width="175" src="./images/TimRoberts.png" alt="Tim Roberts">
        </div>
    </div>

    @* <div style="transform: translate3d(4em, 0em, 2em)">
    <div>B</div>
    </div>
    <div style="transform: translate3d(0em, 4em, 2em)">
    <div>C</div>
    </div>
    <div style="transform: translate3d(4em, 4em, 2em)">
    <div>D</div>
    </div>
    <div style="transform: translate3d(0em, 0em, -2em)">
    <div>E</div>
    </div>
    <div style="transform: translate3d(4em, 0em, -2em)">
    <div>F</div>
    </div>
    <div style="transform: translate3d(0em, 4em, -2em)">
    <div>G</div>
    </div> *@
    <div style="transform: translate3d(4em, 4em, -4em)">
        <div>
            <img id="pageimage" height=auto width="175" src="./images/Cosmo-sox.png" alt="Cosmo">
        </div>
    </div>
</div>

<style>
    #cube {
        position: relative;
        transform-style: preserve-3d;
        animation: spin 20s linear infinite;
    }

    #cube>div {
        position: absolute;
        transform-style: preserve-3d;
    }

    @@keyframes spin {
        from {
            transform: rotateX(-0.1turn) rotateY(0turn);
        }

        to {
            transform: rotateX(-0.1turn) rotateY(1turn);
        }
    }

    @* #cube>div>div {
        animation: un-spin 20s linear infinite;
    }

    @@keyframes un-spin {
        from {
            transform: rotateY(0turn);
        }

        to {
            transform: rotateY(-1turn);
        }
    } *@

</style>

@code
{

}